body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    height: fit-content;
    width: 300px;
}

h1 {
    color: blue;
}

.buttons-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

#button-yes,
#button-no {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#button-no {
    background-color: red;
}